/* Definir colores y fuentes en :root */
:root {
  /* Colores */
  --color-fondo-general: #181818; /* Fondo oscuro para la aplicación */
  --color-fondo-chat: #222f38; /* Fondo más oscuro para el chat */
  --color-fondo-burbuja-enviada: #015c4c; /* Verde de WhatsApp para mensajes enviados */
  --color-fondo-burbuja-recibida: #363636; /* Fondo blanco para mensajes recibidos */
  --color-verde-whatsapp: #25d366; /* Verde característico de WhatsApp */
  --color-verde-whatsapp-hover: #128c7e; /* Verde más oscuro cuando se pasa el ratón */
  --color-borde-contacto: #333; /* Borde gris oscuro para los contactos */
  --color-gris-claro: #454545; /* Gris claro */
  --color-gris-medio: #383838; /* Gris intermedio para texto */
  --color-gris-oscuro: #363636; /* Gris más claro para textos secundarios */
  --color-blanco: #fff; /* Blanco para el texto de los contactos*/
  --color-blanco-medio: #dadada; /* Blanco para el texto de los mensajes */
  /* Fuentes */
  --fuente-principal: 'Arial', sans-serif;
  --fuente-secundaria: 'Verdana', sans-serif;
}

/* Tipos de letra */
body {
  font-family: var(--fuente-principal);
  color: var(--color-blanco);
}



/* Estilo para el contenedor general */
.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--color-fondo-general);
}



/* Contenedor de los contactos */



.contact-list {
  width: 25%;
  background-color: var(--color-fondo-general);
  border-right: 1px solid var(--color-gris-oscuro);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.contact-search{
  width: 250px;
  padding: 10px;
  background-color: var(--color-fondo-chat);
  color: var(--color-blanco);
}

/* Efecto al pasar el ratón por el input */
.contact-search:focus {
  background-color: var(--color-fondo-general);
  border-color: #25d366;  /* WhatsApp green */
  box-shadow: 0 0 5px rgba(37, 211, 102, 0.3);
}


/* Estilos de cada item de contacto */
.contact-item {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--color-blanco-medio);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.contact-item:hover {
  background-color: var(--color-gris-medio);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.contact-item.selected {
  background-color: var(--color-gris-claro);
}

.contact-item .contact-info {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 20px;
  margin-right: 100px;
  
}

.contact-item .contact-info .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-gris-oscuro);
  margin-right: 10px;
}

.contact-item .contact-info .name {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-blanco);
}

.contact-item .contact-info .last-seen {
  font-size: 12px;
  color: var(--color-gris-oscuro);
}

.contact-item .status {
  font-size: 14px;
  color: var(--color-verde-whatsapp);
}

/* Estilo para el contenedor del chat */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gris-oscuro);
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 300px); /* Limitar el ancho del chat al ancho disponible */
  box-sizing: border-box;
}



/* Historial de chat */
.chat-history {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  background-color: var(--color-fondo-chat);
}

/* Estilos para los chats enviados y recibidos */
.chat.sent, .chat.received {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* .chat-sent {
  align-items: flex-end;
}

.chat-received {
  align-items: flex-start;
} */

/* Burbuja de mensaje (una sola burbuja que contiene el texto y la hora) */
.chat.sent span, .chat-received span {
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
  display: inline-block;
  position: relative;
}


/* Estilo para el mensaje enviado */
.chat.sent {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo-burbuja-enviada);
  color: var(--color-blanco-medio);
  margin-right: 8px;
  padding: 1px 2px;
  border-radius: 16px 16px 0 16px;
  font-size: 0.95em;
  line-height: 1.2;
  max-width: 70%;
  word-wrap: break-word;
  align-self: flex-end;
  gap: 20px;
}

/* Estilo para el mensaje recibido */
.chat.received {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo-burbuja-recibida);
  color: var(--color-blanco);
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 16px 16px 16px 0;
  font-size: 0.95em;
  line-height: 1.2;
  max-width: 70%;
  word-wrap: break-word;
  align-self: flex-start;
  gap: 20px;
}

.chat-footer{
  display: flex;
  flex-direction: column;
}

.chat-hora{
  margin-top: 10px;
  font-size: 10px;
  color: var(--color-blanco-medio);
}

.chat-footer.chat-icono{
  margin-top: 100px;
}

/* Barra para enviar mensaje */
.send-message {
  position: relative;
  padding: 5px;
  background-color: var(--color-fondo-general);
  border-top: 1px solid var(--color-borde-contacto);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

/* Barra de iconos */
.icon-buttons {
  display: flex;
  align-items: center; /* Centra los iconos verticalmente */
  gap: 10px;  /* Ajusta el espacio entre los iconos */
  margin-right: 10px; /* Ajusta el margen derecho para los iconos */

}

/* Estilo para cada icono dentro de la barra */
.icon-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Espaciado alrededor del icono */
  color: var(--color-blanco);  /* Asegura que los iconos sean blancos */
  font-size: 1.3em; /* Tamaño de icono similar a WhatsApp */
  transition: background-color 0.2s ease;
}

/* Efecto hover para los iconos */
.icon-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo claro al pasar el ratón */
  border-radius: 10%; /* Forma circular en el hover */
  padding: 5px;
}


/* Campo de texto */
.send-message input {
  flex: 1;  /* Esto asegura que el input ocupe el espacio disponible */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: var(--color-fondo-general);
  border: none;
  margin-right: 10px;  /* Espacio entre el input y el botón de enviar */
  outline: none;  /* Evita el borde azul predeterminado al hacer foco */
}

/* Formulario para el envío de mensaje */
.send-message form {
  display: flex;
  width: 100%;  /* Asegura que el formulario ocupe el espacio completo de la barra */
}

