 /* Definir colores y fuentes en :root */
 :root {
   /* Colores */
   --color-fondo-aside-top-bottom: #1f2c34;  
   --color-fondo-contact-list: #121b22;
   /* Fondo oscuro para la aplicación */
   --color-fondo-chat: #222f38;
   /* Fondo más oscuro para el chat */
   --color-fondo-burbuja-enviada: #015c4c;
   /* Verde de WhatsApp para mensajes enviados */
   --color-fondo-burbuja-recibida: #363636;
   /* Fondo blanco para mensajes recibidos */
   --color-verde-whatsapp: #25d366;
   /* Verde característico de WhatsApp */
   --color-verde-whatsapp-hover: #128c7e;
   /* Verde más oscuro cuando se pasa el ratón */
   --color-borde-contacto: #333;
   /* Borde gris oscuro para los contactos */
   --color-gris-claro: #454545;
   /* Gris claro */
   --color-gris-medio: #383838;
   /* Gris intermedio para texto */
   --color-gris-oscuro: #363636;
   /* Gris más claro para textos secundarios */
   --color-blanco: #fff;
   /* Blanco para el texto de los contactos*/
   --color-blanco-medio: #dadada;
   /* Blanco para el texto de los mensajes */
   /* Fuentes */
   --fuente-principal: 'Arial', sans-serif;
   --fuente-secundaria: 'Verdana', sans-serif;
 }

 /* Tipos de letra */
 body {
   font-family: var(--fuente-principal);
   color: var(--color-blanco);
 }

 body,
 html {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: hidden;
 }



 /* Estilo para el contenedor general */
 .app-container {
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 100%;
   background-color: var(--color-fondo-general);
   overflow-x: hidden;
   overflow-y: hidden;
 }


 /* Contenedor de los contactos */

 .contact-list-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--color-blanco-medio);
   padding: 2px;
   margin-left: 10px;
 }

 .contact-list-title-icons {
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   gap: 10px;
 }

 .contact-list-title-icons span{
  cursor: pointer;
}

.menu-contact-dropdown {
  position: absolute;
  top: 50px; /* Ajusta según sea necesario */
  left: 110px;
  background-color: var(--color-fondo-aside-top-bottom);
  color: var(--color-blanco);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 8px;
  width: 270px;
  z-index: 999; /* Aseguramos que el dropdown esté por encima de otros elementos */
}


.menu-contact-dropdown ul {
  list-style-type: none;
  padding: 0;
  
}

.menu-contact-dropdown li {
  padding: 10px;
}

.menu-contact-dropdown li:hover {
  background-color: var(--color-gris-claro); /* O el color que desees para el hover */
  color: var(--color-blanco); /* Cambia el color del texto si es necesario */
  padding: 10px;
}

.menu-contact-dropdown li a {
  text-decoration: none;
  color: var(--color-blanco);
  font-size: 16px;
}


 .contact-search {
   display: flex;
   position: relative;
   width: 95%;
   margin: 0px 10px 10px 10px;
 }

 .contact-search-input {
   width: 90%;
   padding: 12px 12px 12px 45px;
   background-color: var(--color-fondo-chat);
   color: var(--color-blanco);
   border: 1px solid transparent;
   border-radius: 10px;
   outline: none;
 }


 .contact-search:focus {
   background-color: var(--color-fondo-chat);
   border: 1px solid transparent;
   outline: none;
 }

 .contact-search-icon {
   position: absolute;
   top: 50%;
   left: 15px;
   transform: translateY(-50%);
   color: var(--color-blanco-medio);
   z-index: 1;
   pointer-events: none;
 }

 .contact-list-bubbles{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
 }

 .contact-list-bubbles span{
  background-color: var(--color-fondo-chat);
  padding: 10px;
  border-radius: 20px;
  color: var(--color-blanco-medio);
  cursor: pointer;
 }

 .contact-list-bubbles span:hover{
  background-color: var(--color-gris-claro);
 }

 /* Estilos de cada item de contacto */


 .contact-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--color-fondo-contact-list);
  width: 400px;
 }

.contact-list{
  display: flex;
   flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gris-oscuro) transparent;
  max-height: 80vh;
  width: 400px;
  
}

.contact-box{
 padding:  0px;
 margin: 0px;
 
}
 
.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 10px;
  justify-content: space-between;
  cursor: pointer;
  color: var(--color-blanco-medio);
  border-bottom: 1px solid var(--color-gris-medio);
}

 .contact-item:hover {
   background-color: var(--color-gris-medio);
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

 }

 .contact-item.selected {
   background-color: var(--color-gris-claro);
 }

 .contact-info {
   display: flex;
   align-items: center;
   flex-direction: row;
   padding: 10px;
   margin: 0px;
   width: 100%;
   gap: 20px;
   justify-content: space-between;
 }

 .contact-info-profile {
   display: flex;
   flex-direction: row;
 }

 .contact-item .contact-info .profile-pic {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: var(--color-gris-oscuro);
   margin-right: 10px;
 }

 .contact-item .contact-info .name {
   font-weight: 600;
   font-size: 16px;
   color: var(--color-blanco);
 }

 .contact-item .contact-info .last-seen {
   font-size: 12px;
   color: var(--color-gris-oscuro);
 }

 .contact-item .status {
   font-size: 14px;
   color: var(--color-verde-whatsapp);
 }

.name{
  margin-top: 10px;
}

 .ultimaConexion{
  font-size: 12px;
  margin-right: 10px;
 }


 /* Estilo para la barra superior del contenedor del chat */

 .contact-bar {
   display: flex;
   align-items: center;
   background-color: var(--color-fondo-aside-top-bottom);
   padding: 10px 20px;
   justify-content: space-between;
 }

 .contact-bar-description{
  display: flex;
  align-items: center;
  gap:10px;
 }

 .contact-bar-photo {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
 }

 .contact-bar-name {
   font-size: 16px;
   font-weight: 500;
   color: var(--color-blanco);
 }

 .contact-bar-icons{
  display: flex;
  flex-direction: row;
  gap:20px;
 }

 .contact-bar-icons div{
  cursor: pointer;
 }


 /* Estilos para el menú desplegable */
.dropdown-menu-chat {
  position: absolute;
  top: 50px; /* Ajusta según sea necesario */
  right: 20px;
  background-color: var(--color-fondo-aside-top-bottom);
  color: var(--color-blanco-medio);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 8px;
  width: 200px;
  z-index: 999; /* Aseguramos que el dropdown esté por encima de otros elementos */
}

/* Mostrar el dropdown cuando se activa */
.dropdown-menu-chat.show {
  display: block;
}

.dropdown-menu-chat ul {
  list-style-type: none;
  padding: 0;
  
}

.dropdown-menu-chat li {
  padding: 10px;
}

.dropdown-menu-chat li:hover {
  background-color: var(--color-gris-claro); /* O el color que desees para el hover */
  color: var(--color-blanco-medio);
  padding: 10px;
}

.dropdown-menu-chat li a {
  text-decoration: none;
  color: var(--color-blanco);
  font-size: 16px;
}


 /* Estilo para el contenedor del chat */
 .chat-container {
   flex: 1;
   display: flex;
   flex-direction: column;
   background-color: var(--color-gris-oscuro);
   height: 100%;
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
   max-width: calc(100% - 300px);
   box-sizing: border-box;
 }


 /* Historial de chat */
 .chat-history {
   display: flex;
   flex-direction: column;
   width: auto;
   padding: 10px;
   background-image: url('Data/Background.png'); /* Ruta de tu imagen */
   background-size: cover;  /* Asegura que la imagen cubra todo el contenedor */
   background-position: center center;  /* Centra la imagen en el contenedor */
   background-repeat: no-repeat;  /* Evita que la imagen se repita */
   gap: 10px;
   scrollbar-width: thin;
   scrollbar-color: var(--color-gris-oscuro) transparent;
   max-height: 100vh; /* Limita la altura a un 80% de la altura del viewport */
   overflow-y: auto; /* Activa el scroll solo cuando el contenido excede el max-height */
   height: 100%;
 }

 .chat-icono {
   color: #fff;
 }


 .chat-bubble {
   max-width: 95%;
   /* Opcional: limita el tamaño del mensaje */
   word-wrap: break-word;
   /* Rompe las palabras si son demasiado largas */
   display: inline-block;
   /* Ajuste automático al contenido */
   white-space: pre-line;
   /* Respeta los saltos de línea en el texto */

 }

 /* Estilo para el mensaje enviado */
 .chat.sent {
   display: flex;
   flex-direction: row;
   background-color: var(--color-fondo-burbuja-enviada);
   color: var(--color-blanco-medio);
   border-radius: 16px 16px 0 16px;
   font-size: 0.95em;
   align-self: flex-end;
   padding: 10px;
   max-width: 60%;
   gap: 10px;
 }

 /* Estilo para el mensaje recibido */
 .chat.received {
   display: flex;
   flex-direction: row;
   background-color: var(--color-fondo-burbuja-recibida);
   color: var(--color-blanco);
   margin-left: 8px;
   padding: 10px;
   border-radius: 16px 16px 16px 0;
   font-size: 0.95em;
   align-self: flex-start;
   max-width: 60%;
   gap: 10px;
 }

 .chat.sent .chat-footer {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;

 }

 .chat-hora {

   font-size: 10px;
   color: var(--color-blanco-medio);
 }




 /* Barra para enviar mensaje */
 .send-message {
   display: flex;
   flex-direction: row;
   position: relative;
   padding: 5px;
   background-color: var(--color-fondo-aside-top-bottom);
   align-items: center;
   z-index: 1000;
 }

 /* Barra de iconos */
 .icon-buttons {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-right: 10px;
 }

 /* Estilo para cada icono dentro de la barra */
 .icon-buttons button {
   background: none;
   border: none;
   cursor: pointer;
   padding: 5px;
   color: var(--color-blanco);
   font-size: 1.3em;
   transition: background-color 0.2s ease;
   color: var(--color-blanco-medio);
 }

 /* Efecto hover para los iconos */
 .icon-buttons button:hover {
   border-radius: 10%;
   padding: 5px;
 }


 /* Campo de texto */
 .send-message input {
   flex: 1;
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   color: white;
   background-color: var(--color-fondo-general);
   border: none;
   margin-right: 10px;
   /* Espacio entre el input y el botón de enviar */
   outline: none;
   /* Evita el borde azul predeterminado al hacer foco */
 }

 /* Formulario para el envío de mensaje */
 .send-message form {
   display: flex;
   width: 100%;
   /* Asegura que el formulario ocupe el espacio completo de la barra */
 }